<footer th:fragment="footer">
    <!-- JS部分 -->
    <script type="text/javascript" th:src="@{/static/assets/libs/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/static/assets/js/common.js?v=318}"></script>
    <script type="text/javascript">
        var url = window.location.pathname.substring(1);
        var item = url.split("/");
        document.write("<script src='/static/module/think_level.js'><\/script>");
        //设定扩展的Layui模块的所在目录，一般用于外部模块扩展
        layui.config({
            version: "2.0.7",
            base: '/static/'
        }).extend({
            func: '/module/think_func',
        }).use(['func']);
    </script>
    </body>
    </html>
</footer>