<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaweb.system.mapper.MenuMapper">

    <!-- 获取导航菜单 -->
    <select id="getNavbarMenu" resultType="com.javaweb.system.vo.MenuListVo">
        SELECT m.* FROM sys_menu AS m
        INNER JOIN sys_role_menu AS r ON m.id = r.menu_id
        WHERE r.role_id IN (1,2) AND m.`status`=1 AND m.mark=1 AND r.mark=1 AND m.pid = #{pid}
        GROUP BY m.id ORDER BY m.sort ASC;
    </select>

</mapper>
